@media (max-width: 600px) {
  /* Remove margens e preenchimentos de todos os elementos */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e bordas no cálculo de largura e altura */
  }

  :root {
    --fonte-principal: "Roboto", sans-serif;
    --cor-dos-botoes: #005e4e;
    --cor-do-fundo-botoes: #ffffff;
    --tamanho-da-fonte-principal: 1.2rem;
    --tamanho-da-fonte-secundaria: 1rem;
    --cor-dos-detalhes: rgb(22, 32, 0);
  }

  /* Define o fundo do corpo como branco */
  body {
    background-color: rgb(251, 251, 251);
    color: rgb(0, 0, 0); /* Adiciona cor ao texto para melhor legibilidade */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    font-family: var(--fonte-principal);
  }

  h1 {
    font-size: 25px; /* Tamanho do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
  }

  .cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-principal);
    font-size: 5rem;
    background-color: #0b2b00;
    padding: 20px;
    color: #ffffff;
  }

  .conteiner-principal {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo */
    padding: 0%; /* Diminui o padding */
    width: 100%; /* Adiciona largura total */
    flex: 1; /* Permite que o container principal cresça */
  }

  .conteiner1 {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Centraliza os itens */
  }

  select {
    font-size: 1.2rem; /* Aumenta o tamanho da fonte do select */
    width: 100%; /* Faz o select ocupar toda a largura disponível */
    padding: 2%;
    border-radius: 7px;
    color: rgb(78, 78, 78);
  }

  textarea {
    font-size: 1rem; /* Aumenta o tamanho da fonte do select */
    width: 100%; /* Faz o select ocupar toda a largura disponível */
    padding: 2%;
    border-radius: 7px;
    color: rgb(0, 91, 8);
    background-color: rgb(251, 251, 251);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.01); /* Adiciona sombra */
    border: none;
  }

  label {
    font-size: 1.2rem; /* Aumenta o tamanho da fonte dos rótulos */
    color: rgb(73, 73, 73);
  }

  input {
    background-color: rgb(251, 251, 251);
    font-size: 1.2rem; /* Aumenta o tamanho da fonte dos inputs */
    border: none;
    color: #178e02;
    padding: 2px; /* Espaçamento interno dos inputs */
    margin-bottom: 0px; /* Espaço abaixo de cada input */
    width: 100%; /* Faz os inputs ocuparem toda a largura disponível */
    border-radius: 4px; /* Bordas arredondadas */
  }

  .conteiner2 {
    display: flex;
    flex-direction: row;
    padding: 5%; /* Diminui o padding */
    width: 100%; /* Adiciona largura total */
    justify-content: center; /* Centraliza o conteúdo */
  }

  .conteiner3 {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%; /* Diminui o padding */
    width: 100%; /* Adiciona largura total */
    flex-wrap: wrap; /* Permite que o conteúdo quebre em linhas se necessário */
    max-height: 80vh; /* Define uma altura máxima */
    overflow: auto; /* Adiciona rolagem se necessário */
  }

  .tabEsquerda,
  .tabDireita {
    display: flex;
    flex-direction: column; /* Organiza os rótulos e inputs em coluna */
    margin: 5px; /* Espaço entre as colunas */
    width: 40%; /* Ajusta a largura das colunas */
    flex-basis: 45%; /* Permite ajuste para que as colunas se encaixem */
  }

  .menu-exibicao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza os itens */
  }

  .menu-exibicao input {
    text-align: center;
    width: 80%;
  }

  .conteiner3 {
    display: none; /* Inicialmente oculto */
  }
  .toggle {
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    background-color: #0b2b00;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    text-align: center;
    width: 90%;
  }

  .campo-observacao {
    display: flex;
    flex-direction: column;
    align-items: safe;
    padding: 5%;
  }
}
